/* PNM 2015 - Eric's und Lukas's Sass styling
-------------------------------------------------- */

@import "partials/sass-mq";
@import "partials/main";

/* NAV BAR */
.navbar {
  font-family: 'Open Sans';
  font-size: 14px;
}

.navbar {
  position: absolute;
  width: 100vw;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &-toggle {
    .icon-bar {
      background-color: #000000;
    }
  }

  &-brand {
    margin-left: 20px;
    padding: 0;
    height: 56px;
  }

  &-brand img {
    max-width: 260px;
  }
//  &-menu {
//    width: 50vw;
//    max-width: 580px;
//  }

  &-nav {
    margin-right: 20px;
    float: right;
    color: #ffffff;
    button {
      font-size: 11px;
      background-color: color('olive','base');
      cursor: pointer;
      border: none;
      padding: 9px 16px;
      line-height: 1;
      &:hover {
        color: black ;
        background-color: color('olive', 'tint');
        border-color: color('olive', 'tint');
      }
    }
  }

  &-item {
    color: #ffffff;
    margin: 17px;
    cursor: pointer;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }

}




/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


//.container .text-muted {
//  margin: 20px 0;
//}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* -----------------------------------------------
  App styles
  ------------------------------------------------ */

.center, .comment {
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8;
}

.error,
a.error,
a.error:hover,
a.error:focus,
button.error,
button.error:hover,
button.error:focus {
  color: #D9534F;
}

.form-actions {
  background: #fff;
  border: 0;
}

#spacer {
  display: inline-block;
}

.muted {
  color: #aaa;
  font-size: 12px;
}

.alert {
  margin-top: 10px;
}

.navbar-brand {
  font-size: 14px;
  color: #000 !important;
}

.navbar-nav > li > a.travis{
  padding-top: 13px;
}

.navbar-right > li > a {
  padding-left: 5px;
  padding-right: 5px;
}
