/* PNM 2015 - SASS Styling by @goodthngs
-------------------------------------------------- */
/* -----------------------------------------------
  Typography
  ------------------------------------------------ */
h1, h2, .col-caption p, .feature p, .team p {
  margin: 10px 0; }

.home .grid.section-welcome .col-caption div, .home .grid.section-impact .col-row div, .home .grid.section-impact h1, .home .grid.section-learn .col-caption div, .home .grid.section-learn h1, .home .grid.section-offer .col-caption div, .home .grid.section-places .col-caption div, .home .grid.section-thrive .col-row div, .home .grid.section-thrive h1, .about .grid.section-about .col-row div, .about .grid.section-story .col-row div, .about .grid.section-center .col-row div, .about .grid.section-team .col-row div {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  transform: translateY(-45%); }

.home .grid.section-welcome .col-caption {
  height: 340px; }
  @media (min-width: 48em) {
    .home .grid.section-welcome .col-caption {
      height: 500px; } }
.home .grid.section-welcome .col-caption div {
  margin: 0 20px; }
  @media (min-width: 37.5em) {
    .home .grid.section-welcome .col-caption div {
      margin-right: 30px;
      margin-left: 50px; } }
  @media (min-width: 62em) {
    .home .grid.section-welcome .col-caption div {
      margin: 0 20px; } }
  @media (min-width: 62em) and (min-width: 37.5em) {
    .home .grid.section-welcome .col-caption div {
      margin-right: 30px;
      margin-left: 70px; } }

.home .grid.section-welcome .col-image {
  height: 393.14516px;
  background: url("../img/pnm-landing-page-v02-00.jpg") no-repeat right top;
  background-size: cover;
  overflow: hidden; }
  @media (min-width: 37.5em) {
    .home .grid.section-welcome .col-image {
      height: 65.52419vw; } }
  @media (min-width: 62em) {
    .home .grid.section-welcome .col-image {
      height: 650px; } }
.home .grid.section-welcome .col-caption div {
  text-align: left; }
  .home .grid.section-welcome .col-caption div h1 {
    margin-top: 0;
    color: #1b7876; }
    @media (min-width: 48em) {
      .home .grid.section-welcome .col-caption div h1 {
        margin-top: 80px; } }
    @media (min-width: 62em) {
      .home .grid.section-welcome .col-caption div h1 {
        margin-top: 100px; } }
.home .grid.section-impact .col-row {
  color: white;
  background-color: #32bfc1;
  height: 260px;
  text-align: center; }
.home .grid.section-impact .col-row div {
  padding: 20px; }
  @media (min-width: 62em) {
    .home .grid.section-impact .col-row div {
      padding: 0 150px; } }
.home .grid.section-impact h1 {
  margin: 0px 20px; }
.home .grid.section-learn .col-caption {
  height: 250px; }
  @media (min-width: 48em) {
    .home .grid.section-learn .col-caption {
      height: 350px; } }
.home .grid.section-learn .col-caption div {
  margin: 0 20px; }
  @media (min-width: 37.5em) {
    .home .grid.section-learn .col-caption div {
      margin-right: 50px;
      margin-left: 30px; } }
  @media (min-width: 62em) {
    .home .grid.section-learn .col-caption div {
      margin: 0 20px; } }
  @media (min-width: 62em) and (min-width: 37.5em) {
    .home .grid.section-learn .col-caption div {
      margin-right: 70px;
      margin-left: 30px; } }

.home .grid.section-learn .col-image {
  height: 241.93548px;
  background: url("../img/pnm-landing-page-v02-01.jpg") no-repeat right top;
  background-size: cover;
  overflow: hidden; }
  @media (min-width: 37.5em) {
    .home .grid.section-learn .col-image {
      height: 40.32258vw; } }
  @media (min-width: 62em) {
    .home .grid.section-learn .col-image {
      height: 400px; } }
.home .grid.section-learn .col-caption h2 {
  color: #b2c049; }
.home .grid.section-learn h1 {
  margin: 0px 20px; }
.home .grid.section-offer .col-caption {
  height: 250px; }
  @media (min-width: 48em) {
    .home .grid.section-offer .col-caption {
      height: 350px; } }
.home .grid.section-offer .col-caption div {
  margin: 0 20px; }
  @media (min-width: 37.5em) {
    .home .grid.section-offer .col-caption div {
      margin-right: 30px;
      margin-left: 50px; } }
  @media (min-width: 62em) {
    .home .grid.section-offer .col-caption div {
      margin: 0 20px; } }
  @media (min-width: 62em) and (min-width: 37.5em) {
    .home .grid.section-offer .col-caption div {
      margin-right: 30px;
      margin-left: 70px; } }

.home .grid.section-offer .col-image {
  height: 241.93548px;
  background: url("../img/pnm-landing-page-v02-02.jpg") no-repeat center bottom;
  background-size: cover;
  overflow: hidden; }
  @media (min-width: 37.5em) {
    .home .grid.section-offer .col-image {
      height: 40.32258vw; } }
  @media (min-width: 62em) {
    .home .grid.section-offer .col-image {
      height: 400px; } }
.home .grid.section-offer .col-caption h2 {
  color: #32bfc1; }
.home .grid.section-places .col-caption {
  height: 250px; }
  @media (min-width: 48em) {
    .home .grid.section-places .col-caption {
      height: 350px; } }
.home .grid.section-places .col-caption div {
  margin: 0 20px; }
  @media (min-width: 37.5em) {
    .home .grid.section-places .col-caption div {
      margin-right: 50px;
      margin-left: 30px; } }
  @media (min-width: 62em) {
    .home .grid.section-places .col-caption div {
      margin: 0 20px; } }
  @media (min-width: 62em) and (min-width: 37.5em) {
    .home .grid.section-places .col-caption div {
      margin-right: 70px;
      margin-left: 30px; } }

.home .grid.section-places .col-image {
  height: 241.93548px;
  background: url("../img/pnm-landing-page-v02-03.jpg") no-repeat right bottom;
  background-size: cover;
  overflow: hidden; }
  @media (min-width: 37.5em) {
    .home .grid.section-places .col-image {
      height: 40.32258vw; } }
  @media (min-width: 62em) {
    .home .grid.section-places .col-image {
      height: 400px; } }
.home .grid.section-places .col-caption h2 {
  color: #f26746; }
.home .grid.section-thrive .col-row {
  color: white;
  background-color: #b2c049;
  height: 260px;
  text-align: center; }
.home .grid.section-thrive .col-row div {
  padding: 20px; }
  @media (min-width: 62em) {
    .home .grid.section-thrive .col-row div {
      padding: 0 150px; } }
.home .grid.section-thrive h1 {
  margin: 0px 20px; }
.home .grid.section-features {
  padding: 60px 0 40px 0; }
.home .grid.section-subscribe {
  background-color: #f26746;
  padding: 50px 30px; }
  .home .grid.section-subscribe h1 {
    color: white; }
  .home .grid.section-subscribe p {
    margin-bottom: 25px; }
  .home .grid.section-subscribe input.form-control {
    min-width: 280px; }
  .home .grid.section-subscribe .share-project {
    padding: 0;
    margin-top: 50px; }
    .home .grid.section-subscribe .share-project button {
      margin: 0 5px; }
      @media (min-width: 37.5em) {
        .home .grid.section-subscribe .share-project button {
          margin: 0 10px; } }
.home .grid.section-blog .col-row {
  padding: 50px 0; }
.home .grid.section-blog h1 {
  color: #1b7876;
  padding: 20px 0; }
  @media (min-width: 62em) {
    .home .grid.section-blog h1 {
      padding: 20px 200px 50px 200px; } }
.home .grid.section-blog article.post {
  display: inline-block;
  width: 90vw;
  text-align: left;
  margin: 0 auto 50px 0; }
  .home .grid.section-blog article.post .post-thumbnail-container {
    padding-top: 5px;
    width: 100%;
    margin: 0 0 20px 0;
    max-height: 250px;
    overflow: hidden; }
    .home .grid.section-blog article.post .post-thumbnail-container img.post-thumbnail {
      width: 100%;
      height: auto; }
  .home .grid.section-blog article.post h2 {
    color: #32bfc1;
    font-size: 38px;
    line-height: 1.1;
    margin-top: 0; }
    .home .grid.section-blog article.post h2 a:hover {
      text-decoration: none; }
  .home .grid.section-blog article.post .post-meta {
    margin-bottom: 10px;
    color: #7e7e7e; }
  .home .grid.section-blog article.post .post-excerpt {
    margin-bottom: 30px; }
.home .grid.section-press {
  padding: 50px 60px;
  background-color: #e3e3e3; }
  .home .grid.section-press .col-row h1 {
    color: #1b7876; }

.about .grid.section-about .col-row {
  color: #1a1a1a;
  background-color: transparent;
  height: 600px;
  text-align: center; }
.about .grid.section-about .col-row div {
  padding: 20px; }
  @media (min-width: 62em) {
    .about .grid.section-about .col-row div {
      padding: 50px 150px; } }
.about .grid.section-about .col-image {
  height: 362.90323px;
  background: url("../img/world-bg.jpg") no-repeat 0 40px;
  background-size: cover;
  overflow: hidden; }
  @media (min-width: 37.5em) {
    .about .grid.section-about .col-image {
      height: 60.48387vw; } }
  @media (min-width: 62em) {
    .about .grid.section-about .col-image {
      height: 600px; } }
.about .grid.section-about .radial-bg {
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, white 0%, rgba(255, 255, 255, 0) 70%);
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, white 0%, rgba(255, 255, 255, 0) 70%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, white 0%, rgba(255, 255, 255, 0) 70%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 125, color-stop(0, white), color-stop(70, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, white 0%, rgba(255, 255, 255, 0) 70%);
  background-image: radial-gradient(ellipse farthest-corner at center, white 0%, rgba(255, 255, 255, 0) 70%); }
.about .grid.section-about h1 {
  color: #1b7876 !important; }
.about .grid.section-story .col-row {
  color: #1a1a1a;
  background-color: #b2c049;
  height: 350px;
  text-align: center; }
.about .grid.section-story .col-row div {
  padding: 20px; }
  @media (min-width: 62em) {
    .about .grid.section-story .col-row div {
      padding: 0 250px; } }
.about .grid.section-story h1 {
  color: white; }
.about .grid.section-center .col-row {
  color: #1a1a1a;
  background-color: #32bfc1;
  height: 450px;
  text-align: center; }
.about .grid.section-center .col-row div {
  padding: 20px; }
  @media (min-width: 62em) {
    .about .grid.section-center .col-row div {
      padding: 0 250px; } }
.about .grid.section-center h1 {
  color: white; }
.about .grid.section-team {
  padding: 30px 0 50px 0; }
  .about .grid.section-team .col-row {
    color: #1a1a1a;
    background-color: transparent;
    height: 300px;
    text-align: center; }
  .about .grid.section-team .col-row div {
    padding: 20px; }
    @media (min-width: 62em) {
      .about .grid.section-team .col-row div {
        padding: 0 250px; } }
  .about .grid.section-team h1 {
    color: #1b7876; }
  .about .grid.section-team h2 {
    color: #32bfc1; }
  .about .grid.section-team .team-text {
    margin-bottom: 20px; }
    .about .grid.section-team .team-text p {
      font-size: 14px;
      line-height: 1.8; }
.about .grid.section-criteria .col-row {
  padding: 50px 0 30px 0; }
.about .grid.section-criteria h1 {
  color: #1b7876; }
.about .grid.section-criteria .feature {
  min-height: 200px; }
  @media (min-width: 62em) {
    .about .grid.section-criteria .feature {
      min-height: 400px; } }
  .about .grid.section-criteria .feature:last-child {
    margin-bottom: 100px; }
.about .grid.section-criteria .feature p {
  padding: 0 20px; }
  @media (min-width: 30em) {
    .about .grid.section-criteria .feature p {
      padding: 0 100px; } }
  @media (min-width: 62em) {
    .about .grid.section-criteria .feature p {
      padding: 0; } }
.about .grid.section-criteria .feature-icon.earthcare {
  background-color: #b2c049; }
.about .grid.section-criteria .feature-icon.education {
  background-color: #f26746; }
  .about .grid.section-criteria .feature-icon.education img {
    padding-top: 10px; }
.about .grid.section-criteria .feature-icon.accommodation {
  background-color: #32bfc1; }
.about .grid.section-contact {
  background-color: #f26746; }
  .about .grid.section-contact .col-row {
    padding: 50px 20px; }
  .about .grid.section-contact p {
    margin-bottom: 25px; }
  .about .grid.section-contact h1 {
    color: white; }
.about .grid.section-partners {
  padding: 50px 0; }
  .about .grid.section-partners h1 {
    color: #1b7876; }
  .about .grid.section-partners ul.logo-list li img {
    max-height: 150px; }

/* -----------------------------------------------
  Base
  ------------------------------------------------ */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.8; }
  @media (min-width: 30em) {
    body {
      font-size: 18px; } }

a {
  color: #32bfc1; }
  a:hover, a:focus {
    color: #1b7876;
    text-decoration: underline; }

/* -----------------------------------------------
  Headlines
  ------------------------------------------------ */
h1 {
  font-size: 22.15385px;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 20px; }
  @media (min-width: 37.5em) {
    h1 {
      font-size: 3.69231vw; } }
  @media (min-width: 81.25em) {
    h1 {
      font-size: 48px; } }

h2 {
  font-size: 22.44923px;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400; }
  @media (min-width: 48em) {
    h2 {
      font-size: 2.92308vw; } }
  @media (min-width: 81.25em) {
    h2 {
      font-size: 38px; } }

/* -----------------------------------------------
  Buttons
  ------------------------------------------------ */
.btn-olive {
  font-size: 12px;
  background-color: white;
  color: #1b7876;
  border-color: #32bfc1;
  padding: 14px 24px;
  text-transform: uppercase;
  font-weight: 600; }
  .btn-olive i {
    margin-left: 5px; }
  .btn-olive:hover {
    color: white;
    background: #32bfc1; }

.btn-red, form.form-inline button, form.form-horizontal button, form.form button {
  color: white;
  font-size: 16px;
  border-color: white;
  background-color: #f26746;
  padding: 10px; }
  @media (min-width: 30em) {
    .btn-red, form.form-inline button, form.form-horizontal button, form.form button {
      padding: 10px 20px; } }
  .btn-red i, form.form-inline button i, form.form-horizontal button i, form.form button i {
    margin-right: 5px; }
  .btn-red:hover, form.form-inline button:hover, form.form-horizontal button:hover, form.form button:hover {
    color: #f26746;
    background: white; }

/* -----------------------------------------------
  Forms
  ------------------------------------------------ */
form.form-inline input, form.form-inline select, form.form-horizontal input, form.form-horizontal select, form.form input, form.form select {
  height: 54px; }
form.form-inline input, form.form-inline textarea, form.form-inline select, form.form-horizontal input, form.form-horizontal textarea, form.form-horizontal select, form.form input, form.form textarea, form.form select {
  font-size: 14px;
  padding: 16px;
  border-color: transparent;
  border-radius: 0;
  margin-right: 10px;
  font-weight: 300;
  color: #1a1a1a; }
form.form-inline select, form.form-horizontal select, form.form select {
  width: 100%;
  padding: 15px 20px;
  border: none;
  outline: none;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 54px; }
  @media (min-width: 48em) {
    form.form-inline select, form.form-horizontal select, form.form select {
      display: inline-block; } }
form.form-inline select::-ms-expand, form.form-horizontal select::-ms-expand, form.form select::-ms-expand {
  display: none; }
form.form-inline label.selectlbl, form.form-horizontal label.selectlbl, form.form label.selectlbl {
  width: 100%;
  display: block;
  position: relative;
  margin: 0;
  color: #999; }
  @media (min-width: 48em) {
    form.form-inline label.selectlbl, form.form-horizontal label.selectlbl, form.form label.selectlbl {
      display: inline-block; } }
form.form-inline label.selectlbl:after, form.form-horizontal label.selectlbl:after, form.form label.selectlbl:after {
  content: "\f0d7";
  font-family: "FontAwesome";
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 20px;
  color: #f26746;
  padding-left: 10px; }
form.form-inline button.submit-btn, form.form-horizontal button.submit-btn, form.form button.submit-btn {
  padding: 0 30px;
  border: 2px solid;
  margin-top: 10px;
  min-width: 120px;
  font-weight: 600;
  height: 54px;
  text-transform: uppercase; }
  @media (min-width: 30em) {
    form.form-inline button.submit-btn, form.form-horizontal button.submit-btn, form.form button.submit-btn {
      margin-top: 0; } }
form.form-inline .form-line, form.form-horizontal .form-line, form.form .form-line {
  width: 100%;
  display: inline-block; }
  @media (min-width: 62em) {
    form.form-inline .form-line .form-group, form.form-horizontal .form-line .form-group, form.form .form-line .form-group {
      width: 24.2%;
      float: left;
      margin: 0 0.5% !important; }
      form.form-inline .form-line .form-group:first-child, form.form-horizontal .form-line .form-group:first-child, form.form .form-line .form-group:first-child {
        margin-left: 0 !important;
        margin-right: 0.5% !important; }
      form.form-inline .form-line .form-group:last-child, form.form-horizontal .form-line .form-group:last-child, form.form .form-line .form-group:last-child {
        margin-right: 0 !important;
        margin-left: 0.5% !important; } }
form.form-inline .form-group, form.form-horizontal .form-group, form.form .form-group {
  margin: 10px 0 !important;
  vertical-align: top; }
form.form-inline label.error, form.form-horizontal label.error, form.form label.error {
  font-size: 12px;
  display: block;
  text-align: left;
  padding-top: 5px;
  color: white;
  font-weight: 100; }
form.form-inline .submit-success, form.form-horizontal .submit-success, form.form .submit-success {
  font-size: 14px;
  margin-right: 20px;
  display: inline-block;
  font-weight: 100;
  color: white; }

.home .submit-success {
  font-size: 18px !important;
  margin: 20px 0 0 0; }

/* -----------------------------------------------
  Navigation
  ------------------------------------------------ */
@media (min-width: 30em) and (max-width: 81.24em) {
  .navbar .container {
    width: 100%;
    padding: 0 7%; } }

@media (min-width: 62em) {
  .home .navbar a, .home .navbar a:hover, .home .navbar a:focus {
    color: white; } }

.navbar {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  z-index: 1000;
  width: 100vw;
  margin: 30px 0 0 0; }
  @media (min-width: 48em) {
    .navbar {
      position: absolute; } }
  .navbar-toggle {
    margin-top: 5px; }
    .navbar-toggle .icon-bar {
      background-color: #1a1a1a; }
  .navbar-brand {
    padding: 0 0 0 20px; }
    @media (min-width: 30em) {
      .navbar-brand {
        padding: 0; } }
  .navbar-brand img {
    width: 220px; }
    @media (min-width: 48em) {
      .navbar-brand img {
        width: 260px; } }
  .navbar-right {
    margin-top: 10px; }
  .navbar-collapse {
    padding: 0; }
    .navbar-collapse .navbar-nav {
      margin: 5px 40px; }
      @media (min-width: 30em) {
        .navbar-collapse .navbar-nav {
          margin: 5px 10px; } }
  .navbar-nav button {
    color: white;
    font-size: 12px;
    font-weight: 300;
    background-color: #b2c049;
    border: none;
    text-transform: uppercase;
    padding: 5px 15px; }
    .navbar-nav button:hover, .navbar-nav button:focus {
      color: white;
      background-color: #818730; }
  .navbar li:last-child a {
    padding: 0;
    margin-top: 10px; }
    @media (min-width: 48em) {
      .navbar li:last-child a {
        margin: 0 0 0 20px; } }
  .navbar li.active a, .navbar li > a:focus, .navbar li > a:hover {
    background: transparent;
    color: #32bfc1;
    border: none; }
    @media (min-width: 48em) {
      .navbar li.active a, .navbar li > a:focus, .navbar li > a:hover {
        color: inherit;
        border-bottom: 2px solid #32bfc1; } }
  .navbar li a {
    padding: 0 2px;
    margin: 5px 20px 0 0;
    color: #1a1a1a;
    cursor: pointer;
    text-transform: uppercase; }
  .navbar li a:hover {
    text-decoration: none; }
  .navbar li.list-btn {
    margin-top: 10px; }
    @media (min-width: 48em) {
      .navbar li.list-btn {
        margin-top: 0; } }
    .navbar li.list-btn a:hover, .navbar li.list-btn a:focus {
      border: none; }

/* -----------------------------------------------
  Grid
  ------------------------------------------------ */
.container-fluid {
  min-height: 500px; }

.container-fluid > .row {
  margin: 0; }

.col-caption p {
  font-size: 13.93548px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0 0 20px 0; }
  @media (min-width: 48em) {
    .col-caption p {
      font-size: 1.81452vw; } }
  @media (min-width: 62em) {
    .col-caption p {
      font-size: 18px; } }

.col-row > div {
  padding: 0 20px; }

.grid {
  text-align: center; }
  .grid .col-caption {
    padding: 0 20px; }
    @media (min-width: 37.5em) {
      .grid .col-caption {
        padding: 0; } }

/* -----------------------------------------------
  Features & Team
  ------------------------------------------------ */
.feature, .team {
  text-align: center;
  margin-bottom: 50px;
  padding: 0 30px; }
  @media (min-width: 62em) {
    .feature, .team {
      margin-bottom: 50px;
      padding: 0 50px;
      min-height: 550px; } }
  .feature h2, .team h2 {
    font-size: 38px;
    color: #1b7876;
    line-height: 1.2; }
  .feature p, .team p {
    font-size: 13.93548px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0 0 20px 0; }
    @media (min-width: 48em) {
      .feature p, .team p {
        font-size: 1.81452vw; } }
    @media (min-width: 62em) {
      .feature p, .team p {
        font-size: 18px; } }
  .feature:last-child, .team:last-child {
    margin-bottom: 0; }
  .feature-icon, .team-icon {
    margin: 0 auto 20px auto;
    width: 170px;
    height: 170px;
    background: #e3e3e3;
    border-radius: 50%; }
    .feature-icon img, .team-icon img {
      padding: 20px;
      max-width: 170px; }
    .feature-icon img.booking, .team-icon img.booking {
      margin-top: 15px; }
    .feature-icon img.directory, .team-icon img.directory {
      margin-top: 3px; }
  .feature-subtitle, .team-subtitle {
    text-transform: uppercase !important;
    font-size: 12px;
    color: #7e7e7e;
    margin: -10px 0 10px 0; }
  .feature-text, .team-text {
    margin-bottom: 40px;
    padding: 0; }
    @media (min-width: 30em) {
      .feature-text, .team-text {
        padding: 0 20px; } }
  .feature-social, .team-social {
    margin-top: -10px; }
    .feature-social ul, .team-social ul {
      padding: 0;
      list-style: none; }
    .feature-social li, .team-social li {
      display: inline;
      margin: 0 2px; }
      .feature-social li img, .team-social li img {
        width: 30px;
        height: 30px; }

.team-icon img {
  padding: 0; }

/* -----------------------------------------------
  Content
  ------------------------------------------------ */
body.generic {
  background: transparent url("../img/world-bg-opaque.jpg") no-repeat top center; }

.generic .grid {
  margin: 0;
  min-height: 500px;
  padding: 50px 20px 0 20px; }
  @media (min-width: 37.5em) {
    .generic .grid {
      min-height: 600px;
      padding: 200px 0 0 0; } }

.error404 h1, .error500 h1 {
  font-size: 100px;
  color: #1b7876;
  font-weight: 700; }

ul.logo-list {
  list-style: none;
  padding: 0; }
  ul.logo-list li {
    padding: 20px;
    display: inline-block; }
    ul.logo-list li img {
      max-width: 200px;
      max-height: 50px; }
      @media (min-width: 37.5em) {
        ul.logo-list li img {
          max-width: 300px; } }

/* -----------------------------------------------
  Footer
  ------------------------------------------------ */
footer.content-info {
  font-size: 14px;
  padding: 20px 0;
  color: white;
  background: #1a1a1a; }
  footer.content-info .social {
    float: left;
    margin-right: 10px; }
    footer.content-info .social ul {
      list-style: none;
      padding: 0; }
    footer.content-info .social li {
      display: inline;
      margin-right: 3px; }
      footer.content-info .social li img {
        width: 30px;
        height: 30px; }
  footer.content-info span.copyright {
    margin: 6px 0 0 5px;
    display: inline-block; }

/*# sourceMappingURL=app.css.map */
