$colors: (
  'teal': (
    base: #32bfc1,
    shade: #1b7876
  ),
  'olive': (
    tint: #c6d45f,
    base: #b2c049,
    dark: #818730,
  ),
  'red': (
    base: #f26746
  ),
  'white': (
    base: #ffffff
  ),
  'black': (
    base: #1a1a1a
  ),
  'gray': (
    base: #e3e3e3
  )
);

@function color($color-name, $tone: base) {
    @return map-get(map-get($colors, $color-name), $tone);
}